In [14]:
import pytest
import pandas as pd
import logging
### Changes the curretnt working directory so the imports Work
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)
from models.JM import JM
from core.dataClass import Data

In [21]:
fname = "model_data.xlsx"
dataResults= Data()
dataResults.importFile(fname)

C:\Users\zakar\Desktop\Research\SFRAT\core\dataClass.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['FC'][0] = data['CFC'][0]

In [35]:
for sheet in dataResults.sheetNames:
    rawData= dataResults.dataSet[sheet]
    try:
        jm = JM(data=rawData, rootAlgoName='bisect')
        jm.findParams(0)
    except:
        pass

C:\Users\zakar\Desktop\Research\SFRAT\models\JM.py:160: RuntimeWarning: divide by zero encountered in reciprocal
  leftTerm = np.sum(np.reciprocal(rightTerm1))

GO_BM_FT
JM_BM_Results
GM_BM_Results
GO_EM_FT
DSS
Weibull
ISS

C:\Users\zakar\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\zakar\Desktop\Research\SFRAT\models\JM.py:109: RuntimeWarning: overflow encountered in exp
  return params['N0']*params['phi']*(np.exp(-params['phi']*t))

In [40]:
dataResults.dataSet['J4']

             FT        IF   FN
0      3.500000  3.500000    1
1     10.500000  7.000000    2
2     13.500000  3.000000    3
3     14.250000  0.750000    4
4     14.750000  0.500000    5
..          ...       ...  ...
183  113.166667  0.666667  184
184  113.500000  0.333333  185
185  113.833333  0.333333  186
186  114.250000  0.416667  187
187  114.750000  0.500000  188

[188 rows x 3 columns]